# 忽略所有数据集文件夹
fastMRI_sense_ACS_20250527-1/fastmri_examples/varnet/COIL_FASTMRI_noshift/
ONLY_SENSE/fastMRI_sense/fastmri_examples/varnet/COIL_FASTMRI_noshift/
fastMRI_sense_ACS_20250527-1/banding_removal/
fastMRI_sense_ACS_20250527-1/fastmri_raw_data_manifest/
fastMRI_sense_ACS_20250527-1/tests/
fastMRI_sense_ACS_20250527-1/fastmri_examples/adaptive_varnet/
fastMRI_sense_ACS_20250527-1/fastmri_examples/annotation/
fastMRI_sense_ACS_20250527-1/fastmri_examples/cs/
fastMRI_sense_ACS_20250527-1/fastmri_examples/feature_varnet/
fastMRI_sense_ACS_20250527-1/fastmri_examples/RadiologyJohnson2022/
fastMRI_sense_ACS_20250527-1/fastmri_examples/zero_filled/
ONLY_SENSE/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_3x/banding_removal/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_3x/fastmri_raw_data_manifest/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_3x/tests/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_3x/fastmri_examples/adaptive_varnet/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_3x/fastmri_examples/annotation/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_3x/fastmri_examples/cs/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_3x/fastmri_examples/feature_varnet/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_3x/fastmri_examples/RadiologyJohnson2022/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_3x/fastmri_examples/zero_filled/

VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_5x/banding_removal/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_5x/fastmri_raw_data_manifest/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_5x/tests/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_5x/fastmri_examples/adaptive_varnet/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_5x/fastmri_examples/annotation/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_5x/fastmri_examples/cs/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_5x/fastmri_examples/feature_varnet/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_5x/fastmri_examples/RadiologyJohnson2022/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_5x/fastmri_examples/zero_filled/

VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_7x/fastMRI_7x/banding_removal/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_7x/fastMRI_7x/fastmri_raw_data_manifest/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_7x/fastMRI_7x/tests/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_7x/fastMRI_7x/fastmri_examples/adaptive_varnet/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_7x/fastMRI_7x/fastmri_examples/annotation/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_7x/fastMRI_7x/fastmri_examples/cs/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_7x/fastMRI_7x/fastmri_examples/feature_varnet/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_7x/fastMRI_7x/fastmri_examples/RadiologyJohnson2022/
VARNET_ZGRAPPA/fastmri_NOACS_20250531-1/fastMRI_7x/fastMRI_7x/fastmri_examples/zero_filled/
VARNET_ACS_20250526-1/VARNET_3x/fastMRI_sense/
VARNET_ACS_20250526-1/VARNET_5x/fastMRI_sense/
VARNET_ACS_20250526-1/VARNET_7x/fastMRI_sense/
VARNET_ACS_20250526-1/VARNET_3x/fastMRI/banding_removal/
VARNET_ACS_20250526-1/VARNET_3x/fastMRI/fastmri_raw_data_manifest/
VARNET_ACS_20250526-1/VARNET_3x/fastMRI/tests/
VARNET_ACS_20250526-1/VARNET_3x/fastMRI/fastmri_examples/adaptive_varnet/
VARNET_ACS_20250526-1/VARNET_3x/fastMRI/fastmri_examples/annotation/
VARNET_ACS_20250526-1/VARNET_3x/fastMRI/fastmri_examples/cs/
VARNET_ACS_20250526-1/VARNET_3x/fastMRI/fastmri_examples/feature_varnet/
VARNET_ACS_20250526-1/VARNET_3x/fastMRI/fastmri_examples/RadiologyJohnson2022/
VARNET_ACS_20250526-1/VARNET_3x/fastMRI/fastmri_examples/zero_filled/
VARNET_ACS_20250526-1/VARNET_5x/fastMRI/banding_removal/
VARNET_ACS_20250526-1/VARNET_5x/fastMRI/fastmri_raw_data_manifest/
VARNET_ACS_20250526-1/VARNET_5x/fastMRI/tests/
VARNET_ACS_20250526-1/VARNET_5x/fastMRI/fastmri_examples/adaptive_varnet/
VARNET_ACS_20250526-1/VARNET_5x/fastMRI/fastmri_examples/annotation/
VARNET_ACS_20250526-1/VARNET_5x/fastMRI/fastmri_examples/cs/
VARNET_ACS_20250526-1/VARNET_5x/fastMRI/fastmri_examples/feature_varnet/
VARNET_ACS_20250526-1/VARNET_5x/fastMRI/fastmri_examples/RadiologyJohnson2022/
VARNET_ACS_20250526-1/VARNET_5x/fastMRI/fastmri_examples/zero_filled/

VARNET_ACS_20250526-1/VARNET_7x/fastMRI/banding_removal/
VARNET_ACS_20250526-1/VARNET_7x/fastMRI/fastmri_raw_data_manifest/
VARNET_ACS_20250526-1/VARNET_7x/fastMRI/tests/
VARNET_ACS_20250526-1/VARNET_7x/fastMRI/fastmri_examples/adaptive_varnet/
VARNET_ACS_20250526-1/VARNET_7x/fastMRI/fastmri_examples/annotation/
VARNET_ACS_20250526-1/VARNET_7x/fastMRI/fastmri_examples/cs/
VARNET_ACS_20250526-1/VARNET_7x/fastMRI/fastmri_examples/feature_varnet/
VARNET_ACS_20250526-1/VARNET_7x/fastMRI/fastmri_examples/RadiologyJohnson2022/
VARNET_ACS_20250526-1/VARNET_7x/fastMRI/fastmri_examples/zero_filled/

# 忽略特定文件类型
*.csv
*.zip
*.tar.gz
*.pth
*.h5
*.npy
*.ipynb
*.npz
*.ckpt
# 忽略敏感文件
.env
config.ini

# 忽略系统文件
.DS_Store
